@page "/"

    <div class="d-flex justify-content-center">
        <div class="container m-2 p-2">
            <div class="row">
                <div class="col-12">
                    <div class="card card-image" style="
                    background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);
                    background-size: cover;
                    background-repeat: no-repeat">

                        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                            <div class="py-5">
                                <h5 class="h5 orange-text"><i class="fas fa-coffee"></i> DraxPort</h5>
                                <h2 class="card-title h2 my-4 py-2">
                                    <img class="icon" src="/Resources/Icons/blazor.svg" alt="Blazor SVG" style="width: 50px; height: 50px;" />
                                    A Blazor powered .NetCore Portfolio
                                </h2>
                                <p class="mb-4 pb-2 px-md-5 mx-md-5">Here you can find information and links for my various projects as-well as the tools/systems & frameworks I have used to build them.</p>
                                <a class="btn peach-gradient"><i class="fas fa-clone left"></i> View projects</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<DraxPortCard />*@