<footer class="page-footer fixed-bottom font-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center col-md-12 py-4 ml-4">
                <a href="https://github.com/DraxCodes">
                    <i class="fab fa-github-alt fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a href="https://twitter.com/CodesDrax">
                    <i class="fab fa-twitter fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a href="https://uk.linkedin.com/in/joel-parkinson-893422111">
                    <i class="fab fa-linkedin-in fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center text-white py-3">
        © 2020 Copyright: <a href="https://github.com/DraxCodes"> Draxis</a>
    </div>
</footer>


@code {

}
