@inherits LayoutComponentBase

<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col">
            <Navbar />
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Body
        </div>
    </div>

    <Footer />
</div>